
@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.ttf') format('ttf'),
        url('Inter-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Bold';
    src: url('Inter-Bold.ttf') format('ttf'),
        url('Inter-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Light';
    src: url('Inter-Light.ttf') format('ttf'),
        url('Inter-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Medium';
    src: url('Inter-Medium.ttf') format('ttf'),
        url('Inter-Medium.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}